In [ ]:
# Imort required libraries
import os
import pandas as pd
from openpyxl import Workbook

# Tripwire Tracker

In [ ]:
# Access Onboarding Tracker location
tracker_path = "Onboarding_Tracker.xlsx"

# Specify the Tripwire Tracker sheet name in the Onboarding Tracker
tracker_sheet_name = 'Tripwire Tracker'

In [ ]:
# Read the Excel file into a Pandas DataFrame
tripwire_df = pd.read_excel(tracker_path, sheet_name=tracker_sheet_name)

In [ ]:
# Set the header row as the column names
tripwire_df.columns = tripwire_df.iloc[4]

# Drop the first 5 rows (including the header row)
tripwire_df = tripwire_df[5:]

# Reset the index
tripwire_df.reset_index(drop=True, inplace=True)

In [ ]:
# Select specific columns from the DataFrame
tripwire_df = tripwire_df[["Employee Name", "SES Y/N - recommend allowing to exceed tripwire"]]

# Hourly Cost

In [ ]:
# Access hourly rate location
hourly_cost_path = "hourly_cost.xlsx"

# Specify the sheet name
hourly_cost_sheet_name = 'Hourly Cost_TO29OY2_BVN0067'

In [ ]:
# Read the Excel file into a Pandas DataFrame
hourly_cost_df = pd.read_excel(hourly_cost_path, sheet_name=hourly_cost_sheet_name)

In [ ]:
# Set the header row as the column names
hourly_cost_df.columns = hourly_cost_df.iloc[6]

In [ ]:
# Drop the first 7 rows (including the header row)
hourly_cost_df = hourly_cost_df[7:]

# Reset the index
hourly_cost_df.reset_index(drop=True, inplace=True)

In [ ]:
# Select specific columns from the DataFrame
hourly_cost_df = hourly_cost_df[["Name", "PLC Desc", "Hourly Cost $/hr", "Above Tripwire Rate?"]]
hourly_cost_df

# LCAT Normalization

In [ ]:
# Access Onboarding Tracker location
lcat_path = "Onboarding_Tracker.xlsx"

# Specify the LCAT Normalization sheet name in the Onboarding Tracker
lcat_sheet_name = 'LCAT Normalization'

In [ ]:
# Read the Excel file into a Pandas DataFrame
lcat_df = pd.read_excel(lcat_path, sheet_name=lcat_sheet_name)

In [ ]:
lcat_df = lcat_df[["Vendor LCATs","Correct LCAT Syntax"]]
lcat_df

# Remove Middle Initials

In [ ]:
# Remove middle initials from names in both DataFrames
tripwire_df["Employee Name"] = tripwire_df["Employee Name"].str.replace(r' [A-Z]\b', '', regex=True)
hourly_cost_df["Name"] = hourly_cost_df["Name"].str.replace(r' [A-Z]\b', '', regex=True)

# Filtering Data

In [ ]:
# Find names in tripwire_df where "SES Y/N - recommend allowing to exceed tripwire" is "Y"
filtered_tripwire_df = tripwire_df[tripwire_df["SES Y/N - recommend allowing to exceed tripwire"] == "Y"]

In [ ]:
# Find names in hourly_cost_df where "Above Tripwire Rate?" is "Yes"
names_above_tripwire = hourly_cost_df[hourly_cost_df["Above Tripwire Rate?"] == "Yes"]["Name"]

In [ ]:
# Find names in tripwire_df where "SES Y/N - recommend allowing to exceed tripwire" is "Y"
names_allow_exceed_tripwire = filtered_tripwire_df[filtered_tripwire_df["SES Y/N - recommend allowing to exceed tripwire"] == "Y"]["Employee Name"]

In [ ]:
# Find names in hourly_cost_df that are not in tripwire_df
names_not_in_tripwire = names_above_tripwire[~names_above_tripwire.isin(names_allow_exceed_tripwire)]

# Mapping of LCAT

In [ ]:
# Remove newline characters from the "PLC Desc" column in hourly_cost_df
hourly_cost_df["PLC Desc"] = hourly_cost_df["PLC Desc"].str.strip()

# Create a dictionary to map "Vendor LCATs" to "Correct LCAT Syntax"
lcat_mapping = lcat_df.set_index("Vendor LCATs")["Correct LCAT Syntax"].to_dict()

# Map the "PLC Desc" column in hourly_cost_df to get corrected LCAT syntax
hourly_cost_df["Correct LCAT Syntax"] = hourly_cost_df["PLC Desc"].map(lcat_mapping)

# Filter again

In [ ]:
# Filter names in hourly_cost_df that are not in tripwire_df
filtered_hourly_cost_df = hourly_cost_df[hourly_cost_df["Name"].isin(names_not_in_tripwire)]

# Output

In [ ]:
# Create result_df with the desired columns, including PLC Desc and Correct LCAT Syntax
result_df = filtered_hourly_cost_df[["Name", "PLC Desc", "Correct LCAT Syntax", "Hourly Cost $/hr", "Above Tripwire Rate?"]]

# Print the resulting DataFrame
result_df